<launch>

	<!-- Are we running in simulation or on the real robot? -->
	<arg name="sim" default="false" />

  	<include file="$(find fetch_moveit_config)/launch/move_group.launch" />

	<node name="fetch_arm_interaction" pkg="fetch_arm_interaction" type="arm_interaction_node.py" output="screen" />

</launch>
