<launch>
  <include file="$(find rail_agile_nodes)/launch/find_grasps.launch">
    <arg name="remove_table" value="false" />
    <arg name="point_cloud_topic" value="/head_camera/depth_registered/points" />
    <arg name="point_cloud_frame" value="head_camera_rgb_optical_frame" />
    <arg name="finger_width" value="0.013" />
    <arg name="hand_outer_diameter" value="0.126" />
    <arg name="hand_depth" value="0.024" />
    <arg name="init_bite" value="0.005" />
    <arg name="hand_height" value="0.058" />
  </include>

  <node pkg="grasp_suggestion" type="suggester" name="suggester" output="screen" />

</launch>