<launch>
	<!-- This file runs the PbD backend. It should be run on the robot. -->

	<!-- These arguments can be passed in. -->
	<!-- ================================= -->

	<arg name="social_gaze" default="true" />
	<arg name="play_sound" default="true" />
	<arg name="from_file" default="" />
	<arg name="to_file" default="" />
	<arg name="grasp_suggestion_service" default="" />
	<arg name="grasp_feedback_topic" default="" />
	<arg name="grasp_suggestion_ee_link" default="gripper_link" />

    <arg name="segmentation_service" default="/rail_segmentation/segment" />
    <arg name="segmented_objects_topic" default="/rail_segmentation/segmented_objects" />
    <arg name="segmented_table_topic" default="/rail_segmentation/segmented_table" />
    <arg name="planning_scene_topic" default="/planning_scene" />
    <arg name="object_similar_distance_threshold" default="0.075" />
    <arg name="object_add_distance_threshold" default="0.02" />
    <arg name="object_nearest_distance_threshold" default="0.25" />
    <arg name="object_distance_zero_clamp" default="0.0001" />
    <arg name="text_height" default="0.10" />
    <arg name="surface_height" default="0.01" />
    <arg name="text_offset" default="0.06" />
    <arg name="base_frame" default="base_link" />

	<!-- This runs all of the prerequisite nodes for the PbD backend to
	work, such as interactive manipulation backend and social gaze. -->
	<include file="$(find fetch_pbd_interaction)/launch/pbd_prereqs.launch" >
		<arg name="grasp_suggestion_service" value="$(arg grasp_suggestion_service)" />
    	<arg name="segmentation_service" value="$(arg segmentation_service)" />
    	<arg name="segmented_objects_topic" value="$(arg segmented_objects_topic)" />
    	<arg name="segmented_table_topic" value="$(arg segmented_table_topic)" />
    	<arg name="planning_scene_topic" value="$(arg planning_scene_topic)" />
    	<arg name="object_similar_distance_threshold" value="$(arg object_similar_distance_threshold)" />
    	<arg name="object_add_distance_threshold" value="$(arg object_add_distance_threshold)" />
    	<arg name="object_nearest_distance_threshold" value="$(arg object_nearest_distance_threshold)" />
    	<arg name="object_distance_zero_clamp" value="$(arg object_distance_zero_clamp)" />
    	<arg name="text_height" value="$(arg text_height)" />
    	<arg name="surface_height" value="$(arg surface_height)" />
    	<arg name="text_offset" value="$(arg text_offset)" />
    	<arg name="base_frame" value="$(arg base_frame)" />
	</include>

	<!-- This runs the interaction node itself.	It is the main state
	machine for interaction and PbD -->
	<node name="fetch_pbd_interaction" pkg="fetch_pbd_interaction" type="pbd_interaction_node.py" output="screen" >
		<param name="grasp_suggestion_service" value="$(arg grasp_suggestion_service)" />
		<param name="grasp_feedback_topic" value="$(arg grasp_feedback_topic)" />
		<param name="grasp_suggestion_ee_link" value="$(arg grasp_suggestion_ee_link)" />
		<param name="to_file" value="$(arg to_file)" />
		<param name="from_file" value="$(arg from_file)" />
		<param name="play_sound" value="$(arg play_sound)" />
		<param name="social_gaze" value="$(arg social_gaze)" />
	</node>
</launch>
