<launch>
	<!-- This file runs the Gazebo backend (server) with a table and an
	object. (To run on the real robot you would instead just
	`$ robot start` -->

	<!-- We want the option of disabling the GUI window (e.g. for
	running tests). -->
	<arg name="gui" default="true" />

	<include file="$(find pr2_gazebo)/launch/pr2_table_object.launch">
		<arg name="gui" value="$(arg gui)" />
	</include>
</launch>
